.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Allinea gli elementi verticalmente */
  align-items: center; /* Centra tutto */
}

.logo {
  margin-bottom: 15px;
  color: white;
}

.links_container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;

  a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;

    &:hover {
      color: #f4a261;
    }
  }
}

.social_container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;

  .social_link {
    color: white;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}

/* Assicura che il copyright sia centrato e sotto al resto */
.copyright_wrapper {
  width: 100%; /* Fa sì che occupi tutta la larghezza del footer */
  margin-top: 20px;
}

.copyright {
  padding: 10px 0;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  text-align: center;
  
  a {
    color: #f4a261;
    text-decoration: none;
    font-weight: bold;
  }
}
