@use "reset" as *;
@use "resolution" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Fraunces:wght@900&display=swap");

:root {
  // Definizione delle variabili PRIMA degli annidamenti

  --background: #f1f1f1;
  --foreground: #000000;

  --dark-greyblue-900: #333d4b;
  --dark-cyan-600: #0e8784;
  --light-cyan-600: #00b8b8;
  --medium-grey-400: #83888f;
  --light-orange-200: #fdd6ba;
  --light-cream-100: #fefcf7;
  --yellow-thunder-500: #f9d851;
  --catslist-title-color: #16a34a;
  --catslist-subtitle-color: #6b7280;
  --catslist-card-description: #6b7280;
  --catslist-card-background: #ffffff;
  --catslist-card-boxshadow: rgba(0, 0, 0, 0.1);
  --menu-title-color: #16a34a;
  --menu-card-background: #fefcf7;
  --menu-card-boxshadow: rgba(0, 0, 0, 0.1);
  --menu-description: #83888f;
  --menu-price: #00b8b8;
  --menu-allergen-card-background: #fefcf7;
  --menu-allergen-card-boxshadow: rgba(0, 0, 0, 0.1);
  --services-card-background: #0e8784;
  --services-card-text: #fefcf7;
  --services-title: #6b7280;
  --services-description: #6b7280;
  --footer-background: #222;
  --footer-fontcolor: #ffffff;
  --footer-social-fontcolor: #ffffff;
  --footer-a: #ffffff;
  --footer-a-hover: #f4a261;
  --copyright-background: rgba(255, 255, 255, 0.1);
  --copyright-a: #f4a261;
  --navbar-background: #fefcf7;
  --navbar-background-shadow: rgba(0, 0, 0, 0.8);
  --navbar-logo-text: #333d4b;
  --navbar-a: #333d4b;
  --hero-background-gradient1: #f7c6c3;
  --hero-background-gradient2: #e5b0a7;
  --hero-title: #333;
  --hero-phone: #333;
  --hero-description: #333;
  --hero-button-background: #ff8a00;
  --hero-button-background-hover: #e67e00;
  --hero-button-text: white;
  --hero-button-boxshadow: rgba(0, 0, 0, 0.2);
  --hero-scrolldownarrow: #222222;


  --grey-muted: #999691;  /* A muted grey */
  --light-grey-beige: #e5e7dc;  /* Light grey with a beige tint */
  --dark-charcoal: #11111b;  /* A very dark grey, almost black */
  --teal-green: #24958f;  /* A teal-like green */
  --mint-teal: #3fbbaf;  /* A minty teal */

  --xl-header-fs: 40px;
  --md-header-fs: 28px;
  --xs-header-fs: 24px;
  --lg-body-fs: 16px;
  --md-body-fs: 15px;
  --sm-link-fs: 12px;

  --page-margin: 24px;
  --page-container: 1200px;
  --media-tablet: $media-tablet;
  --media-desktop: 1140px;

  // @media (prefers-color-scheme: dark) {
  //   --background: #0a0a0a;
  //   --foreground: #ededed;
  // }

  @media (min-width: $media-tablet) {
    --xl-header-fs: 48px;
    --md-header-fs: 32px;
    --xs-header-fs: 24px;
    --page-margin: 100px;
  }

  @media (min-width: 1140px) {
    --xl-header-fs: 72px;
    --md-header-fs: 40px;
    --md-body-fs: 16px;
    --page-margin: 10px;
  }
}

// Global styles
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

// Typography
h1,
h2,
h3,
h4 {
  line-height: 1;
}

h1,
h2,
h3,
h4,
button,
span,
li {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

p,
.nav-link,
a {
  font-family: "Barlow", sans-serif;
}

p {
  font-size: 16px;
  line-height: 26px;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  color: var(--dark-greyblue-900);
  &:hover {
    font-weight: 700;
  }
}